table, th, td {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1em 0;
}

.table {
    margin-bottom: 6rem;
}

.carousel {
    position: relative;
    height: 48rem;
    width: 48rem;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.compilation-info {
    margin-bottom: 6rem;
}

/* img */
.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    /* background: red; */
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* ul */
.carousel__track { 
    padding: 0;
    margin: 0;
    list-style: none;
    /* added after the fact, to help with the js moveSlide func */
    position: relative;
    height: 100%;
    transition: transform 500ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* buttons */
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 20px;
}

.is-hidden {
    display: none;
}



@media only screen and (max-width: 600px) {

    .carousel {
      height: 17rem;
      width: 17rem;
      margin-bottom: 3rem;
    }

    table, th, td {
        font-size: 0.7rem;
        border-spacing: 1em 0;
    }

    .table {
        margin-bottom: 3rem;
    }
  }

/* 

References:

Powell, K. (2019) How to code a carousel with HTML, CSS and JavaScript - From Scratch (Part 1), YouTube. YouTube. Available at: https://www.youtube.com/watch?v=VYsVOamdB0g (Accessed: February 9, 2023). 




*/